html, body, div, span, applet, object, iframe,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}


body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*

STYLES BEGIN BELOW

*/
#root{
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-image: url("./background1.png");
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  font-family: "Lato";
  font-weight: 300;
}

div{
  /*border: 1px dashed #BBB;
  padding: 3px;*/
}

.App{
  height: 100%;
  display: flex;
}

.main-display{
  flex: 3;
  display: inline-block;
  width: auto;
  margin-right: 310px;
}

.kicker{
  display: block;
  text-align: center;
  font-size: 60px;
  font-family: "Courgette";
  font-weight: 400;
  margin: 40px 0px 40px 0px;
}

.list-container{
  flex:1;
  display: inline-block;
  position: fixed;
  width: 300px;
  min-height: 99%;
  float: right;
  max-height: 99%;
  overflow-y: scroll;
  right:0px;
  /*padding-right: 5px;*/
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  border-bottom-left-radius: 25px;
}

.recipe-thumbnail{
  display: inline-block;
}


.thumbnail{
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin: 20px;
  transition: 0.2s;
  box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.7);
}

.thumbnail:hover{
  transition: 0.2s;
  transform: scale(1.03);
  cursor: pointer;
  box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.5);
}

.thumbnail-title{
  text-align: center;
  color: white;
  font-size: 19px;
  font-weight: 400;
  background-color: rgba(0,0,0,0.7);
  line-height: 20px;
  margin: 25px 0px 10px 0px;
  padding:3px;
}

.thumbnail-container{
  height: auto;
  width: auto;
}

.recipe-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.ingredients-title{
  margin: 0;
  text-align: center;
  padding: 40px 0px 40px 0px;
}

.single-ingredient{
  /*border-bottom: 1px solid white;*/
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.single-list:nth-child(even) {
    background-color: rgba(0,0,0,0.3);
}

.single-list:nth-child(odd) {
    background-color: rgba(177, 177, 177, 0.3);
}

.login{
  display: flex;
  flex-direction: row;
}

.inner-header{
  width: 100%;
}

.add-recipe-button {
  position: relative;
  width: 100px;
  top: -50px;
  bottom: 0;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 19px;
  color: white;
  text-align: center;
  transition: 0.2s;
  background-color: rgba(0,130,50,0.9);
}

.add-recipe-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s;
}

/*
======================================
SINGLE RECIPE DISPLAY
======================================
*/
.single-recipe-pic{
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin: 10px;
}

.recipe-single{

}


/*
======================================
NAV
======================================
*/

.logo{
  font-size: 60px;
  display: inline-block;
  margin: 20px 0px 10px 20px;
  font-family: "Lobster";
  color: rgba(240,240,240,1);
  /*text-shadow: 0px 0px 1px black;*/
  /*font-style: italic;*/
}

.nav-container {
  background-color: rgba(0,0,0,0.4);
  /*background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);*/
  padding: 0px 0px 0px 0px;
  height: auto;
  /*padding-bottom: 20px;*/
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-button {
  height: 20px;
}

.login {
  display: flex;
  flex: 1;
}

.user-form {
  float: right;
  display: inline-block;
  padding-right: 5px;
  margin-top: 5px;
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
  text-align: center;
}

.link{
  font-size: 20px;
  flex: 1;
  color: black;
  flex-wrap: wrap;
  transition: 0.1s;
  /*text-decoration: underline;*/
  width: auto;
  text-align: center;
  max-width: 300px;
  height: 30px;
  padding-top: 15px;
  background-color: beige;
  box-shadow: inset 0px -4px 14px -7px rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid rgba(0,0,0,0.7);
  margin-left: 2px;
  margin-right: 2px;
  font-weight: 400;
}

.link:hover{
  color: white;
  transition: 0.1s;
  color: rgba(200,10,20,0.8);
  cursor: pointer;
  transform: translateY(-2px) scaleY(1.09);
  /*text-shadow: 0px 0px 2px white;*/
}

/*
===================================
BUTTON STYLES
===================================
*/

button {
  background-color: beige;
  height: 30px;
  font-family: "Lato";
  font-weight: 200;
  border-radius: 3px;
  border: 1px solid black;
  color: rgba(200,10,20,1);
}

.input-button {
  background-color: rgb(239, 95, 115);
  /*box-shadow: 0px 1px 0px 1px rgb(255, 164, 182);*/
  height: 30px;
  width: 70px;
  font-family: "Lato";
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  border: 0px solid black;
  color: white;
  margin: 2px;
}

.input-button:hover{
  cursor: pointer;
}

.radio-login{
  background-color: rgba(0,0,0,0);
  height: 25px;
  font-family: "Lato";
  font-weight: 300;
  font-size: 20px;
  border-radius: 0px;
  border: 0px solid black;
  color: white;
  /*text-decoration: underline;*/
}

.radio-login:hover {
  cursor: pointer;
}

.simple-form {
  background-color: rgba(0,0,0,0);
  border: 0px;
  height: 20px;
  color: white;
  border-bottom: 2px solid white;
  margin-right: 5px;
  margin-left: 10px;
  font-size:12px;
}

.simple-form:focus{
  border-bottom: 2px solid red;
  outline-color: none;
  outline-style: none;
  /*border-bottom: red;*/
}

.create-button-center{
  text-align: center;
}

.create-new-list-button {
  background-color: rgb(239, 95, 115);
  /*box-shadow: 0px 1px 0px 1px rgb(255, 164, 182);*/
  height: 70px;
  width: 200px;
  font-family: "Lato";
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  border: 0px solid black;
  color: white;
  margin: 2px;
  margin-top: calc(50vh - 35px);
  transition: 0.2s;
}

.create-new-list-button:hover{
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(2px);
}

/**/
